Django==1.8.16
flup==1.0.2
-e git+ssh://git@git.silvercube.pl/materialtemplate.git@1.0.2#egg=materialtemplate
-e git+ssh://git@git.silvercube.pl/corecms.git@1.0.4#egg=corecms
pytz==2016.7
unicodecsv==0.14.1
xlwt==1.1.2
MySQL-python==1.2.5