.wood-frame-wrapper{
  background: url(../images/deska.png) center center no-repeat;
  position: relative;
  -webkit-box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.4);
  box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.4);
  margin-bottom: 30px;
  a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  .gwozdz{
    position: absolute;
    left: 50%;
    top: 2px;
    width: 18px;
    height: 24px;
    display: block;
    margin-left: -9px;
    background: url(../images/gwozdz.png) center center no-repeat;
  }
  .inner-shadow{
    display: block;
    position: relative;
    .shadow{
      display: block;
      -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0px;
      top:0px;
      width:100%;
      height: 100%;
    }
  }
}
@mixin bg-fake-shadow{
    background: #efefef;
    background: -moz-linear-gradient(top, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
    background: -webkit-linear-gradient(top, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
    background: linear-gradient(to bottom, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#e4e4e4',GradientType=0 );
}
.projects-wrapper{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,e4e4e4+10,e4e4e4+10 */
  @include bg-fake-shadow;
  padding: 0px 0px 35px 0px;
  .container.title{
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  button.more-text{
    margin-top:10px;
    margin-bottom: 20px;
  }
}
.margin-bottom-30{
  margin-bottom: 30px;
}

.gallery-container{
  background: url(../images/eko_gallery.png) top center no-repeat;
  height: 200px;
}

.gallery-wrapper{
  position: relative;
  //margin-bottom: 20px;
  //  margin-top: 25px;
  @include bg-fake-shadow;
  padding-bottom: 25px;
  .slick-dots{
    bottom: -30px;
    top:auto;
  }
  .container.title{
    margin-bottom: 20px;
  }
  .slick-dots li button:before{
    color:#098241;
  }
}
.publications-wrapper{
  @include bg-fake-shadow;

  a.more-text{
    margin-bottom: 30px;
  }
  .publication-title{
    min-height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .download-btn{
    display: inline-block;
    border: 2px solid #098241;
    border-radius: 20px;
    padding: 4px 10px;
    color:#000;
    text-decoration: none;
    margin-top: 25px;
    position: relative;
    .fa{
      position: relative;
      top: -1px;
      margin-right: 7px;
    }
  }
  .publication-image{
    display: inline-block;
-webkit-box-shadow: 3px 4px 0 0 #a7a7a7;
box-shadow: 3px 4px 0 0 #a7a7a7;
  }
}
.gallery-container a{
    display: inline-block;
    margin: 34px 12px;
  outline: none;
  &:hover, &:active{
    outline: none !important;
  }
  img {
    display: block;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6);
  }
}