.wood-frame-wrapper{
  background: url(../images/deska.png) center center no-repeat;
  position: relative;
  -webkit-box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.4);
  box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.4);
  margin-bottom: 30px;
  a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  }
  .gwozdz{
    position: absolute;
    left: 50%;
    top: 2px;
    width: 18px;
    height: 24px;
    display: block;
    margin-left: -9px;
    background: url(../images/gwozdz.png) center center no-repeat;
  }
  .inner-shadow{
    display: block;
    position: relative;
    transition: all 1s;
    .shadow{
      display: block;
      -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
      box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 0px;
      top:0px;
      width:100%;
      height: 100%;
      transition: all 0.5s;
    }
  }
}

@mixin bg-fake-shadow{
    background: #efefef;
    background: -moz-linear-gradient(top, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
    background: -webkit-linear-gradient(top, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
    background: linear-gradient(to bottom, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#e4e4e4',GradientType=0 );
}
.projects-wrapper{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,e4e4e4+10,e4e4e4+10 */
  @include bg-fake-shadow;
  padding: 0px 0px 35px 0px;
  .container.title{
    margin-bottom: 30px;
  }
  button.more-text{
    margin-top:10px;
    margin-bottom: 20px;
  }
}
.margin-bottom-30{
  margin-bottom: 30px;
}

.gallery-container{
  background: url(../images/eko_gallery.png) top center no-repeat;
  height: 200px;
}

.gallery-wrapper{
  position: relative;
  //margin-bottom: 20px;
  //  margin-top: 25px;
  @include bg-fake-shadow;
  padding-bottom: 25px;
  .slick-dots{
    bottom: -30px;
    top:auto;
    margin-left: -15px;
  }
  .container.title{
    margin-bottom: 20px;
  }
  .slick-dots li button:before{
    color:#098241;
  }
}
.publications-wrapper{
  @include bg-fake-shadow;

  a.more-text{
    margin-bottom: 30px;
  }
  .publication-title{
    min-height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .download-btn{
    display: inline-block;
    border: 2px solid #098241;
    border-radius: 20px;
    padding: 4px 10px;
    color:#000;
    text-decoration: none;
    margin-top: 25px;
    position: relative;
    .fa{
      position: relative;
      top: -1px;
      margin-right: 7px;
    }
  }
  .publication-image {
    display: inline-block;
    -webkit-box-shadow: 3px 4px 0 0 #a7a7a7;
    box-shadow: 3px 4px 0 0 #a7a7a7;
  }

}
.gallery-container{
  .slick-slide{
    text-align: center;
  }
a {
  display: inline-block;
  margin: 34px 12px;
  outline: none;
  &:hover, &:active {
    outline: none !important;
  }
  img {
    display: inline-block;
    -webkit-box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.6);
  }
}
}
.navbar-collapse{
  .navbar-nav{
    margin: 0px;
  }
}
.navbar-default .navbar-toggle{
  position: relative;
  z-index: 1;
}

.project-title-green{
    margin-top: 200px;
    background-color: #0b693d;
    display: inline-block;
    margin-right: -15px;
    color: #fff;
    font-size: 24px;
    padding: 10px 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.page-title.project-icon{
  background: #fff;
  min-height: 100px;
}

.area-wrapper {
  [class*='eko-']{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border:7px solid red;
    margin-left: 10px;
  }
  .eko-dzialalnosc-miedzynarodowa{
    border-color: #ef6c45;
  }
  .eko-dzialalnosc-miedzynarodowa:before{content:'\0041';}
  .eko-dla-karpat:before{content:'\0042';}
  .eko-dla-karpat{
    border-color: #6c8d47;
  }
  .eko-dla-edukacji-ekologicznej{
    border-color: #3c81c2;
  }
  .eko-dla-edukacji-ekologicznej:before{
    content:'\0043';
    color: #3c81c2;
    font-size: 40px;
  }
  .eko-dla-partycypacji-spolecznej{
    border-color: #b27a3f;
  }
  .eko-dla-partycypacji-spolecznej:before{content:'\0044';
      color: #b27a3f;
    font-size: 36px;
  }
  .eko-dla-samorzadow-lokalnych{
    border-color:#f2b756;
  }
  .eko-dla-samorzadow-lokalnych:before{content:'\0045';
    color: #f2b756;
    font-size: 36px;
  }
  .eko-dla-dziedzictwa-kulturowego{
    border-color: #896b5f;
  }
  .eko-dla-dziedzictwa-kulturowego:before{content:'\0046';
    color: #896b5f;
    font-size: 38px;
  }
  .eko-dla-organizacji-pozarzadowych{
    border-color: #5d96a0;
  }
  .eko-dla-organizacji-pozarzadowych:before{content:'\0047';
      color: #5d96a0;
    font-size: 40px;
  }
  .eko-dla-spolecznosci-lokalnych{
    border-color: #6363aa;
  }
  .eko-dla-spolecznosci-lokalnych:before{content:'\0048';
    color: #6363aa;
    font-size: 36px;
  }
  .eko-dla-swiata-nauki{
    border-color: #b5842b;
  }
  .eko-dla-swiata-nauki:before{content:'\0049';
    color: #b5842b;
    font-size: 36px;
  }
  .eko-sc_white:before{content:'\004a';}
  a{
    text-decoration: none;
    a:hover{
      text-decoration: none;
    }
  }
}

.article-wrapper{
  .area-wrapper {
    .areas-list-slider > div{
      display: inline-block;
    }
  }
}

.project-info-wrapper{
  position: relative;
  top: -50px;
  .project-link{
    color: #000;
    margin-bottom: 70px;
    display: inline-block;
  }
 .founders-title{
   border-bottom: 2px solid #f2f2f2;
   border-top: 2px solid #f2f2f2;
   margin-bottom: 10px;
   padding: 5px 0px;
 }
  .area-wrapper{
    position: relative;
  }
  a{
    text-decoration: none;
    a:hover{
      text-decoration: none;
    }
  }
}