@import 'dn';

// kolory
$white: #ffffff; //biały
$grey: #c4c4c4; //szary
$dark-grey: #303030; //ciemny szary
$hover: #0c824b; //zielony hover
$title: #374778; //niebieski akcent

// justify class
.text-justify {
  text-align: justify;
}
.center-justified {
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.inactiveLink {
   pointer-events: none;
   cursor: default;
}
//.................FONTY......................

@mixin roboto-thin {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
@mixin roboto-light {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@mixin roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin roboto-bold {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

@mixin about {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: $dark-grey;
  font-size: 16px;
}


//.............................................



body {
 //background-color: $grey;
 // padding-top: 70px;
}




//...................NAVBAR......................
nav.navbar.navbar-default {
  margin-bottom: 0;
}
.nav-height-bottom {
  padding-top: 25px;
}
.nav-content-bottom li a {
  padding-top: 0;
  padding-bottom: 0px;
}
.nav-content-top li a {
  padding-top: 5px;
  padding-bottom: 0;
}
.navbar-default {
  border-radius: 0;
  border: none;
  background-color: $white;
}

.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: $grey;
  //color: $white;
  i {
    color: $white;
  }
}

a.btn.btn-default.btn-circle {
  padding: 6px 0;
  border:none;
}

.circle_btn_padding {
  padding-top: 0px;
  padding-right: 15px;
}
.nav.navbar-nav.navbar-right.nav-content-top li a {
  @include roboto-light;
  font-size: 13px;
  color: $dark-grey;
  i {
    color: $hover;
  }
}
.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: $grey;
  //color: $white;
}
.circle_btn_padding .btn.btn-default.btn-circle i {
  color: $white!important;
}
.nav.navbar-nav.navbar-right.nav-content-bottom li a {
  @include roboto-medium;
  font-size: 16px;
  color: $dark-grey;
}
div.container.nav-height-top {
  padding-right: 0;
}
div.container.nav-height-bottom {
  padding-bottom: 20px;
}
.fa-envelope:before  {
  font-size: 20px;
}
.fa-phone:before {
  font-size: 20px;
}
span.menu-top {
  position: relative;
  top: -2px;
  padding-left: 10px;
}
a.btn.btn-default.btn-circle {
  background-color: $grey;
  transition: background-color .5s ease;

}

a.btn.btn-default.btn-circle:hover {
  background-color: $hover;
}

.nav.nav-content-bottom>li>a {
    display: inline-block;
    //font-weight: 600;
    //font-size: 14px;
    //height: 50px;
    //color: #fff;
    //text-transform: uppercase;
    //padding-left: 20px;
    //padding-right: 20px;
    overflow-x: hidden;
    position: relative;
    transition: .25s ease all;
    //background: gray;
    text-decoration: none;
    //line-height: 45px;
    padding-bottom: 5px;
    padding-top: 10px;
}
 .nav.nav-content-bottom>li>a::after {
   content: " ";
   position: absolute;
   display: block;
   bottom: 0;
   left: -100%;
   height: 2px;
   width: 100%;
   background: $hover;
   transition: .5s ease all;
}
 .nav.nav-content-bottom>li>a:hover:after {
    left: 0;
}
 .nav.nav-content-bottom {
   padding-top: 40px;
 }

div.container.nav-height-bottom {
  //padding-left: 0;
  //padding-right: 0;
  padding-top: 25px;
  padding-bottom: 15px;
}
#logo {
  padding-right: 0;
  padding-left: 0;
}
div.col-sm-12.nav-padding {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}
//.............................................


//................HEADER.....................

.sc-block {
   background-repeat:  no-repeat;
  background-position: center center;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: $white;
    border: 0;
    background: none;
    z-index: 1;
}

.slick-prev {
    top: 190px;
    left: 400px;
}

.slick-prev:before {
	  content: "\f104";
    font: 70px/1 'FontAwesome';
}

.slick-next {
    top: 190px;
    right: 400px;
    text-align: right;
}

.slick-next:before {
	   content: "\f105";
     font: 70px/1 'FontAwesome';
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: $hover;
}
.slick-dots {
  top: 400px;
}
.slick-dots li button:before {
  color: $white;
  font-size: 16px;
}
.slick-dots li.slick-active button:before {
  color: $hover;
  font-size: 16px;
}
.slide-1 {
  @include roboto-thin;
  font-size: 24px;
  color: $white;
  margin-top: 164px;
  p {
    margin-bottom: 0;
  }
  p.proverb {
    font-size: 14px;
    margin-left: 330px;
  }
}
//.............................................


//...................O NAS....................
div.row.single-item.slick-initialized.slick-slider.slick-dotted {
 margin-bottom: 0;
}
div.o-nas {
  background: url("../images/leafs.jpg");
   background-repeat:  no-repeat;
  background-position: center center;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}


p.about {
  margin-top: 30px;
  @include roboto-regular;
  font-size: 16px;
  color: $dark-grey;
  margin-bottom: 150px;
}

// ..........header with hr................
.title {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.title > span{
    position: relative;
    display: inline-block;
}

.title > span:before,
.title > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: $hover;
}

.title > span:before {
    right: 100%;
    margin-right: 15px;
}

.title > span:after {
    left: 100%;
    margin-left: 15px;
}
span.title-text {
  @include roboto-bold;
  font-size: 24px;
  color: $title;

}
//.............................................
span.title-text {
  margin-top: 30px;
}

div.container.tree {
  background: url("../images/eko_tree.png");
  height: 448px;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-circle.btn-about {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border-width: 7px;
  border-color: #ef6c45;
  background-color: $white;
}
//..............tree buttons....................
div.container.tree {
  padding-left: 0;
  padding-right: 0;
}
.kontener-drzewa {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 0 auto;
}


// BUTTON DZIALALNOSC MIEDZYNARODOWA NR 1
a.dzialalnosc-miedzynarodowa { // TEKST
  position: absolute;
  top: 347px;
  left: 40px;
}
button.btn.btn-default.btn-circle.btn-about.btn-dzialalnosc-miedzynarodowa {//BUTTON
  position: absolute;
  top:323px;
  left: 167px;
  padding-left: 10px;
  padding-top: 8px;
}
i.eko-dzialalnosc-miedzynarodowa {//ICON
  color: #ef6c45;
  font-size: 40px;
}
a.dzialalnosc-miedzynarodowa >  p {
  margin-bottom: 0;
  @include about;
}
// BUTTON DZIALALNOSC MIEDZYNARODOWA

//.......................................................................

// BUTTON DLA KARPAT NR 2
.btn-circle.btn-about.btn-dla-karpat {
  border-color: #6c8d47; //BUTTON BORDER COLOR
}
a.dla-karpat {  // TEKST
  position: absolute;
  top: 214px;
  left: 55px;
}
button.btn.btn-default.btn-circle.btn-about.btn-dla-karpat {//BUTTON
  position: absolute;
  top: 188px;
  left: 140px;
  padding-top: 9px;
  padding-left: 11px;
}
i.eko-dla-karpat { //ICON
  color: #6c8d47;
  font-size: 40px;
}
a.dla-karpat >  span {
  @include about;
}
// BUTTON DLA KARPAT

//.......................................................................

// BUTTON EDUKACJA EKOLOGICZNA NR 3
.btn-circle.btn-about.btn-edukacja-ekologiczna {
  border-color: #3c81c2; //BUTTON BORDER COLOR
}
a.edukacja-ekologiczna {  // TEKST
  position: absolute;
  top: 57px;
  left: 85px;
}
button.btn.btn-default.btn-circle.btn-about.btn-edukacja-ekologiczna {//BUTTON
  position: absolute;
  top: 53px;
  left: 183px;
  padding-top: 6px;
  padding-left: 10px;
}
i.eko-edukacja-ekologiczna { //ICON
  color: #3c81c2;
  font-size: 40px;
}
a.edukacja-ekologiczna >  p {
  margin-bottom: 0;
  @include about;
}
// BUTTON EDUKACJA EKOLOGICZNA

//.......................................................................


// BUTTON PARTYCYPACJA SPOLECZNA NR 4
.btn-circle.btn-about.btn-partycypacja-spoleczna  {
  border-color: #b27a3f; //BUTTON BORDER COLOR
}
a.partycypacja-spoleczna  {  // TEKST
  position: absolute;
  top: -40px;
  left: 166px;
}
button.btn.btn-default.btn-circle.btn-about.btn-partycypacja-spoleczna  {//BUTTON
  position: absolute;
  top: -37px;
  left: 279px;
  padding-top: 10px;
  padding-left: 12px;
}
i.eko-partycypacja-spoleczna  { //ICON
  color: #b27a3f;
  font-size: 36px;
}
a.partycypacja-spoleczna  >  p {
  margin-bottom: 0;
  @include about;
}
// // BUTTON PARTYCYPACJA SPOLECZNA

//.......................................................................

// BUTTON DZIEDZICTWO KULTUROWE NR 5
.btn-circle.btn-about.btn-dziedzictwo-kulturowe {
  border-color: #896b5f; //BUTTON BORDER COLOR
}
a.dziedzictwo-kulturowe {  // TEKST
  position: absolute;
  top: -99px;
  right: 350px;
}
button.btn.btn-default.btn-circle.btn-about.btn-dziedzictwo-kulturowe {//BUTTON
  position: absolute;
  top: -70px;
  right: 413px;
  padding-top: 7px;
  padding-left: 11px;
}
i.eko-dziedzictwo-kulturowe {//ICON
  color: #896b5f;
  font-size: 38px;
}
a.dziedzictwo-kulturowe >  span {
  @include about;
}
// BUTTON DZIEDZICTWO KULTUROWE

//.......................................................................

// BUTTON SPOLECZNOSC LOKALNA NR 8
.btn-circle.btn-about.btn-spolecznosc-lokalna {
  border-color: #6363aa; //BUTTON BORDER COLOR
}
a.spolecznosc-lokalna {  // TEKST
  position: absolute;
  top: 201px;
  right: 11px;
}
button.btn.btn-default.btn-circle.btn-about.btn-spolecznosc-lokalna {//BUTTON
  position: absolute;
  top: 188px;
  right: 140px;
}
i.eko-spolecznosc-lokalna {//ICON
  color: #6363aa;
  font-size: 36px;
}
a.spolecznosc-lokalna >  p {
  margin-bottom: 0;
  @include about;
}
// BUTTON SPOLECZNOSC LOKALNA

//.......................................................................



//............tree buttons end..................
//...................O NAS END...................


// ..........more button with hr................
.more {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.more > button {
    position: relative;
    display: inline-block;
}

.more > button:before,
.more > button:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 2px;
    background: $grey;
}

.more > button:before {
    right: 100%;
    margin-right: 15px;
}

.more > button:after {
    left: 100%;
    margin-left: 15px;
}
button.more-text {
  @include roboto-medium;
  font-size: 16px;
  color: $dark-grey;
  background-color: transparent;
  border: 2px solid $grey;
  border-radius: 25px;
  padding: 2px 15px 2px 15px;
  margin-top: 50px;
}
//.............................................




//Non mobile first media

//..............MEDIA QUERIES..................

@media screen and (max-width : 1700px) {
    .slick-next {
      top: 190px;
      right: 250px;
  }
    .slick-prev {
      top: 190px;
      left: 250px;
  }
}

@media screen and (max-width : 1500px) {
    .slick-next {
      top: 190px;
      right: 200px;
  }
    .slick-prev {
      top: 190px;
      left: 200px;
  }
}

@media screen and (max-width : 1300px) {
    .slick-next {
      top: 190px;
      right: 100px;
  }
    .slick-prev {
      top: 190px;
      left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .sc-block {
    height: 450px;
  }

}

@media screen and (max-width : 1200px) {
   .sc-block {
    height: 400px;
  }
    .slick-next {
      top: 165px;
  }
    .slick-prev {
      top: 165px;
  }
  .slick-dots {
  top: 350px;
}
  .slide-1 {
    margin-top: 139px;
  }
}

@media screen and (max-width : 992px) {
  .sc-block {
    height: 350px;
  }
     .slick-next {
      top: 140px;
  }
    .slick-prev {
      top: 140px;
  }
  .slick-dots {
  top: 300px;
}
  .slide-1 {
    margin-top: 114px;
  }
}

@media (max-width: 991px) {

}

@media(min-width: 768px) {

}

@media screen and (max-width:768px) {
  .sc-block {
    height: 300px;
  }
     .slick-next {
      top: 115px;
  }
    .slick-prev {
      top: 115px;
  }
  .slick-prev:before,
.slick-next:before {
   display:none;
}
  .slick-dots {
  top: 250px;
}
  .slide-1 {
  font-size: 18px;
  margin-top: 104px;
  p.proverb {
    font-size: 12px;
    margin-left: 240px;
  }
}
}


@media screen and (max-width:480px){
  .sc-block {
    height: 200px;
  }
 .slick-prev:before,
.slick-next:before {
   display:none;
}
  .slick-dots {
  top: 150px;
}
  .slide-1 {
    padding-left: 0;
    padding-right: 0;
  font-size: 14px;
  margin-top: 63px;
  p.proverb {
    font-size: 10px;
    margin-left: 180px;
  }
}
}

//.............................................