// zmienne

$primary-color: #ee1d23; //red
$tekst: #ffffff; //white
$bg: #000000; //czarny
$hover: #d41920; //czerwony hover

// justify class
.text-justify {
  text-align: justify;
}
//vertical allign
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

//.................FONTY......................

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: MyriadPro-Black;
    src: url(../fonts/MyriadPro-Black.otf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: MyriadPro-Light;
    src: url(../fonts/MyriadPro-Light.otf);
    font-style: normal;
    font-weight: 300;
}

//.............................................



body {
  background-color: $bg;
  padding-top: 70px;
}




//...................NAVBAR......................
.navbar-default {
  background-color: $primary-color;
  margin: 0;
  border: none;
  .navbar-toggle {
    border-color: $tekst;
    margin-top: 18px;
    margin-bottom: 18px;
    border-radius: 0;
    &:hover {
      background-color: $hover;
    }
    &:focus {
    background-color: $hover;
  }
    .icon-bar {
      background-color: $tekst;
    }
  }
  .brand {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-nav li a{
        padding-top: 25px;
        padding-bottom: 25px;
        font-family: MyriadPro-Regular, sans-serif;
        font-size: 14px;
        color: $tekst;
  }
  .navbar-nav>li>a:hover {
    background-color: $hover;
    color: $tekst;

  }
}
//.............................................



//.................HEADER......................

//.............................................



//.ZAPISZ SIĘ DO AKADEMII, PROGRAM LOJALNOŚCIOWY.

.buttony {

    background-color: $primary-color;

    .btn-default {
      font-family: MyriadPro-Bold, sans-serif;
      font-size: 18px;
      color: $tekst;
      background: none;
      border: none;
      box-shadow: none;
      padding-top: 22.5px;
      padding-bottom: 22.5px;
    }

    .btn-1 {
      margin-right: 50px;
    }

    .btn-2 {
      margin-left: 50px;
    }

    .btn-default:hover, .btn-default.hover {
      background-color: $hover;
    }

    .btn-default:active, .btn-default.active {
      background: none;
    }

}
//.............................................



//...................O NAS.....................
.container-fluid h1 {
  font-family: MyriadPro-Black, sans-serif;
  font-size: 30px;
  margin-top: 40px;
  color: $tekst;
}
.row .pytania
{
  margin: 0;
}
#left {
  padding:0;
  text-align: left;
}
#center {
  padding:0;
  text-align: center;
}
#right {
  padding:0;
  text-align: right;
}
.container-fluid h2 {
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 18px;
  color: $primary-color;
  margin-bottom: 20px;
}
.container-fluid .zawartosc {
   padding-left: 60px;
  padding-right: 60px;
}

.container-fluid p{

  text-align: justify;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 16px;
  color: $tekst;
}


//.............................................



//....................NEWS.....................

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    background: none;
    margin-bottom: 0;
    padding-bottom: 0;

  h2 { //TYTUL
    font-family: MyriadPro-Bold, sans-serif;
    font-size: 18px;
    color: $tekst;
  }

  h3.data.text-left { //DATA
    font-family: MyriadPro-Regular, sans-serif;
    font-size: 18px;
    color: $primary-color;
    margin-top: 10px;
  }

  p { //WPIS
    font-family: MyriadPro-Regular, sans-serif;
    font-size: 16px;
    color: $tekst;
  }
  .zobacz {
    padding-left: 0;
    padding-right: 0;
  }
  #zobacz {
    text-decoration: none;
    font-family: Myriad Pro Light, sans-serif;
    font-size: 14px;
    color: $tekst;
  }
  #zobacz:hover {
    text-decoration: none;
    color: $primary-color;
  }
  #zobacz:active {
    text-decoration: none;
    color: $tekst;
  }
  .kreska {
    padding-right: 0;
    hr {
      margin-top: 10px;
    }
  }
  i.fa.fa-angle-right {
    padding-left: 10px;
  }
  .row .zobacz a {
    padding: 0;
  }
}


.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

//.............................................


//.................GALLERY.....................

.thumb img {
     margin-bottom: 30px;
}
.image-wrapper {
  position: relative;
  .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(238,29,35,0.8);
}
}

.thumb:hover .image-wrapper .overlay {
  opacity: 1;
}

.icon {
  color: $tekst;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
//.............................................

.container .hr {
  margin-top: 35px;
  margin-bottom: 35px;
}

.container .gallery {
  margin-top: 5px;
  margin-bottom: 35px;
}


.container .footer {
  margin-top: 10px;
  margin-bottom: 15px;
}



//.................LINKI......................

#linki .center-block {
  margin-bottom: 10px;
}

#linki a {
  text-decoration: none;
   font-family: MyriadPro-Regular, sans-serif;
   font-size: 18px;
   color: $tekst;
}
#linki a:hover {
  text-decoration: none;
  color: $primary-color;
}

//.............................................



//..................FOOTER.....................
#social {
  padding-right: 80px;
}
#fb.btn-default {
  border-radius: 0;
  background-color: $primary-color;
  border-color: $primary-color;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 16px;
  color: $tekst;
  padding: 10px 20px 10px 20px;
  i {
    margin-right: 10px;
  }
  margin-bottom: 20px;
  }

#yt.btn-default {
  border-radius: 0;
  background-color: $primary-color;
  border-color: $primary-color;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 16px;
  color: $tekst;
  padding: 10px 20px 10px 20px;
   i {
    margin-right: 8px;
  }
}
#yt.btn-default:hover {
  background-color: $hover;
}
#fb.btn-default:hover {
  background-color: $hover;
}

#am2 {
  padding-top: 25px;
}


#download {
  padding-left: 75px;
  ul {
    list-style: none;
    font-family: MyriadPro-Regular, sans-serif;
    font-size: 18px;
    color: $tekst;
    padding-left: 0;
  }
  li i {
    margin-right: 10px;
  }
  a {
    font-family: MyriadPro-Regular, sans-serif;
    font-size: 16px;
    color: $tekst;
  }
  a:hover {
    text-decoration: none;
    color: $primary-color;
  }
  a:focus {
    text-decoration: none;
  }
}
.sc-brand {
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 14px;
  color: $tekst;
  margin-bottom: 15px;
}
a.sc-logo {
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 14px;
  color: $tekst;
}

.sc-brand a:hover {
  text-decoration: none;
  color: $primary-color;
}

.sc-logo img {
  width: 20px;
  position: relative;
  top: -2px;
}

//.............................................

//.............................................
.breadcrumb {
  background-color: transparent;
  font-family: MyriadPro-Bold, sans-serif;
  //color: $tekst;
}

h2#title {
  margin-top: 0;
  margin-bottom: 10px;

}

h2#title a {
  font-family: MyriadPro-Bold, sans-serif;
  font-size: 18px;
  color: $tekst;
}
p.date {
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 18px;
  color: $primary-color;
}

.content-styles {
  text-align: justify;
  font-family: MyriadPro-Regular, sans-serif;
  font-size: 16px;
  color: $tekst;
}

#article {
  margin-left: 0;
}
//.............................................

//Non mobile first media

//..............MEDIA QUERIES..................

@media screen and (max-width : 1200px) {

}

@media screen and (max-width : 992px) {
  .buttony .btn-1 {
    margin-right: 0;

  }

  .buttony .btn-2 {
    margin-left: 0;
  }
  #left {
    text-align: center;
  }
  #center {
    text-align: center;
  }
  #right {
    text-align: center;
  }
  h1 {
    margin-bottom: 30px;
  }
  h2 {
    margin: 0;
  }
  #social {
  padding-right: 10px;
}
  #download {
    padding-left: 10px;
  }
}

@media screen and (max-width:768px) {
  .navbar-default .navbar-nav li a{
        padding-top: 10px;
        padding-bottom: 10px;
  }
  .brand {
    padding-left: 10px;
  }
  #linki .margin {
    margin-bottom: 10px;
  }
    #social {
      padding-right: 0;
      text-align: center;
}
  #download ul {
    margin-top: 20px;
    text-align: center;
  }
  #download {
    padding-left: 0;
  }
}

@media screen and (max-width:480px){

   .buttony .btn-1 {
   margin-right: 0;
   }

   .buttony .btn-2 {
   margin-left: 0;
   }

  .container-fluid h1 {
  font-size: 24px;
}

 }

//.............................................