{% extends 'website/site/base/layout.html' %}
{% load corecms_tags %}
{% load corecms_render_tags %}
{% load thumbnail %}
{% load digg_paginator %}
{% load staticfiles %}
{% load templatetags %}
{% load i18n %}

{% block edit_buttons %}
    {% render_edit_button object 'Edytuj stronę' %}
{% endblock %}
{% block title %}<title>{{ object }} | {{ request.cms_config.site_title }}</title>{% endblock %}

{% block canonical_url %}
    <link rel="canonical" href="{{ request.base_url }}{{ object.get_absolute_url }}">
{% endblock %}

{% block body_content %}

    {% include "corecms/site/templates/_top_wrapper.html" %}
    <div class="container site wow fadeIn">
        <div class="row">
            <div class="">
                <div class="col-md-3 left">
                    <div class="left-wrapper item">
                        {% if category_project %}
                            {% include 'corecms/admin/_render_submenu_project.html' %}
                        {% else %}
                            <div class="page-title text-center">
                                <h1>{{ request.breadcrumbs.0.name }}</h1>
                            </div>
                            {% render_submenu object category 'corecms/admin/_render_submenu_left.html' %}
                            {% include 'corecms/site/_left_column.html' %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-9 right item">
                    {% block site_inner_content %}
                        <!-- Okruszki -->
                        {% include 'corecms/site/_breadcrumbs.html' %}

                        {%if object.level > 0 %}
                            <div><h2 class="left-menu-right-header">{{ object.identity }}</h2></div>
                        {% endif %}
                    <div class="article-list-wrapper">
                        {% for article in object_articles %}
                            {% include "website/site/element/_publication_list_box.html" with article=article %}
                        {% endfor %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

