{% extends 'corecms/site/templates/site_layout.html' %}
{% load corecms_render_tags %}
{% load digg_paginator %}
{% load i18n %}
{% load templatetags %}

{% block site_inner_content %}

        {% include 'corecms/site/_breadcrumbs.html' %}

        {% include 'website/site/element/_obszar.html' with child=object open_tab=object.slug %}

        {% render_obszary_dzialania_content object %}

        {% include 'corecms/site/_files.html' %}
        <!-- Zdjęcia z plików -->
        {% include 'corecms/site/_images.html' %}
        <!-- Galeria i formularz -->
        {% for connector in article.connector_children.all %}
            {% render_connector connector %}
        {% endfor %}

<script>
$(function(){

    $('.publications-slick-2').slick({
  dots: true,
  infinite: false,
  speed: 300,
  arrows: true,
  slidesToShow: 3,
  slidesToScroll: 3,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
          arrows: false,
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
    });

});
</script>


{% endblock %}

