{% extends 'corecms/site/templates/site_layout.html' %}


{% load corecms_render_tags %}

{% load digg_paginator %}

{% load i18n %}

{% load staticfiles %}

{% block site_inner_content %}

<div class="row">
    <div class="col-sm-6 partnership">
        <img class="col-xs-4 img-responsive partnership-img" src="{% static 'website/images/patroni/Konwencja_Karpacka.png' %}">
        <div class="col-xs-8 partnership-content">
            <div class="partnership-title">LONG TITLE LONG TITLE LONG  </div>
            <a href="http://www.carpathianconvention.org/">http://www.carpathianconvention.org/</a>
        </div>
    </div>

    <div class="col-sm-6 partnership">
        <img class="col-xs-4 img-responsive partnership-img" src="{% static 'website/images/patroni/Ministerstwo_Rolnictwa.png' %}">
        <div class="col-xs-8 partnership-content">
            <div class="partnership-title">Title</div>
            <a href="http://www.carpathianconvention.org/">http://www.carpathianconvention.org/</a>
        </div>
    </div>

    <div class="col-sm-6 partnership">
            <img class="col-xs-4 img-responsive partnership-img" src="{% static 'website/images/patroni/Ministerstwo_Sportu_i_Turystyki.png' %}">
            <div class="col-xs-8 partnership-content">
                <div class="partnership-title">Title</div>
                <a href="http://www.carpathianconvention.org/">http://www.carpathianconvention.org/</a>
            </div>
    </div>

    <div class="col-sm-6 partnership">
        <img class="col-xs-4 img-responsive partnership-img" src="{% static 'website/images/patroni/Województwo_Podkarpackie.png' %}">
        <div class="col-xs-8 partnership-content">
            <div class="partnership-title">Title</div>
            <a href="http://www.carpathianconvention.org/">http://www.carpathianconvention.org/</a>
        </div>
    </div>



</div>

        <!-- Okruszki -->
        {% if published_by_hash %}
            <div class="panel panel-default panel-danger">
                <div class="panel-body">
                    {% trans 'Widzisz tę ukrytą stronę ponieważ używasz linku z panelu administracyjnego, nie jest ona widoczna na liście artykułów i w dla wyszukiwarki google' %}
                </div>
            </div>
        {% endif %}

        {% block page_description %}
            {% include 'corecms/site/site_description.html' %}
        {% endblock %}
        {% if object.content and object_articles %}
            <hr>
        {% endif %}
        <!-- Lista artykułów -->
        {% for article in object_articles %}
            {% include 'corecms/site/article_list.html' with article=article only %}
        {% endfor %}
        <!-- Paginacja -->
        {% digg_paginator template_name='corecms/site/_digg_paginator.html' %}
        <!-- Pliki -->
        {% include 'corecms/site/_files.html' %}
        <!-- Zdjęcia z plików -->
        {% include 'corecms/site/_images.html' %}
        <!-- Galeria i formularz -->
        {% for connector in article.connector_children.all %}
            {% render_connector connector %}
        {% endfor %}

{% endblock %}