{% extends 'corecms/site/templates/site_layout.html' %}

{% load corecms_tags %}
{% load corecms_render_tags %}
{% load thumbnail %}
{% load staticfiles %}
{% load mptt_tags %}

{% load corecms_render_tags %}

{% load digg_paginator %}

{% load i18n %}

{#% block site_inner_content %#}

{% block body_content %}

<div class="top-wrapper top-{{object.slug}}">
</div>


    <div class="container site wow fadeIn">
        <div class="row">
            <div class="col-md-12 bg">
                <!-- Tło -->
                {% if object.main_image %}
                    {% thumbnail object.main_image "1200x300" crop="center" seoname=object|addstr:"" as im %}
                        <div class="bg_wrapper " style="background: url('{{ im.url }}') center center no-repeat;">
                    {% endthumbnail %}
                {% else %}
                    <div class="bg_wrapper " style="background: url('{% static 'website/images/default.jpg' %}');">
                {% endif %}
                <div class="title wow fadeInLeft">
                    <!--<h2>{{ object.identity }}</h2>-->
                </div>
                </div>
                </div>
            </div>
            <div class="row kontakt-shadow">
                <div class="col-md-12 kontakt-title">
                    <h1 class="text-center kontakt-title-inner">{{ object.identity }}</h1>
                </div>
                <div class="col-md-9"></div>
                <div class="col-md-6 left mapa item">
                    {% render_contact_form template_name='website/site/element/_contact_form.html' %}
                    <div class="row dane-kontaktowe">
                        <div class="col-md-12 dane-kontaktowe-wrapper">
                            <div class="col-md-6 dane-kontakotwe-tekst">
                                <p><span class="kontakt-distinction">Stowarzyszenie Ekopsychologia</span><br>ul. Grabina 6/18<br>32-840 Zakliczyn<br><span class="kontakt-distinction">email:</span> ekopsychologia@ekopsychologia.pl</p>
                            </div>

                            <div class="col-md-6  dane-kontakotwe-tekst">
                                <p><span class="kontakt-distinction">Monika Ochwat - Marcinkiewicz</span><br>tel.: +48 785 341 089</p>
                                <p><span class="kontakt-distinction">Magdalena Socha</span><br>tel.: +48 788 285 615</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 right mapa item">
                    <div class="eko-mapa">
                        {#%  <h3>My Google Maps Demo</h3> %#}
                        <div id="map"></div>
                        <script>
                            function initMap() {
                                var uluru = {lat: 49.851882, lng:  20.794651};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 16,
                                    center: uluru
                                });
                                var marker = new google.maps.Marker({
                                    position: uluru,
                                    map: map
                                });
                            }
                        </script>
                        <script async defer
                                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDep27bukcLJPW4DQqADeiJnisWIrulmg8&callback=initMap">
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
<script>
</script>
{% endblock %}