{% extends 'corecms/site/templates/site_layout.html' %}

{% load corecms_render_tags %}
{% load digg_paginator %}
{% load i18n %}
{% load staticfiles %}
{% load templatetags %}
{% load thumbnail %}

{% block site_inner_content %}
<div class="partnership-wrapper">

    <div><h2 class="partnership-title">{{ object.identity }}</h2></div>

    <div class="row">
        {% get_partnership_slider object.slug as slider %}
        {% for slide in slider.items.all %}
            {% thumbnail slide.image "150x150" seoname=slide.name as im %}
            <div class="col-md-12 col-lg-6 partnership" {% if slide.url %}onclick="location.href='{{ slide.url }}';"{% endif %}>
                <img class="col-xs-4 img-responsive partnership-img compared-text-part3 compared-text-part " src="{{ im.url }}">
                <div class="col-xs-8 partnership-content compared-text-part3 compared-text-part">
                    <div class="partnership-title">{{ slide.name }}</div>
                    {% if slide.url %}<a href="{{ slide.url|get_domain }}">{{ slide.url }}</a>{% endif %}
                </div>
            </div>
            {% endthumbnail %}
        {% endfor %}
    </div>

</div>


{% endblock %}