{% load thumbnail %}
{% load corecms_tags %}
{% load corecms_render_tags %}

<div class="files-wrapper">
    {% if object.published_files|media_distinction:'downloadable' %}
        <div class="files" style="margin-top:20px;">
            <h4 class="download-files">Pliki do pobrania</h4>
            <table>
                <tr>
                    <th class="col-xs-10 file-table">Nazwa</th>
                    <th class="col-xs-1 hidden-xs text-center file-table">Typ</th>
                    <th class="col-xs-1 hidden-xs file-table">Rozmiar</th>
                </tr>
                {% for file in object.published_files|media_distinction:'downloadable' %}
                <tr  data-href="{{ file.url }}" class="file-table-row tr-link">
                    <td class="col-xs-10 file-table"><a class="file-name" href="{{ file.url }}" download="{{ file.download_name }}">{{ file }}</a></td>
                    <td class="col-xs-1 hidden-xs text-center file-table"><i class="icon-{{ file.extension }}"></i></td>
                     <td class="col-xs-1 hidden-xs text-left file-table">{{file.get_file_size_display}}</td>
                </tr>


                {% endfor %}
            </table>
        </div>
    {% endif %}
</div>

<script>
    $('tr[data-href]').on("click", function() {
    document.location = $(this).data('href');
});
</script>