{% load thumbnail %}
{% load corecms_tags %}

<div class="text-center">
    {% if object.main_image %}
    {% thumbnail object.main_image "900x250" crop="center" seoname=object|addstr:"" as im %}
    <img class="border" src="{{im.url}}" class="img-responsive"/>
    {% endthumbnail %}
    {% endif %}
    <div class="article-title text-left"><h1>{{object.identity}}</h1></div>
    <p class="article-layout-date text-left">{{ article.article_date|date:"d.m.Y" }}</p>

</div>
{% include 'corecms/site/tags.html' with size="md" label=False margin_top="10px" tags=object.tags.all %}
<div class="content-styles">{{ object.content|safe }}</div>

