{% load thumbnail %}
{% load corecms_tags %}

<div class="text-center">
    <div class="row">
        <div class="col-md-12">
            <div class="article-title text-left"><h2>{{object.identity}}</h2></div>
            <p class="article-layout-date text-left">{{ article.article_date|date:"d.m.Y" }}</p>
        </div>
        {% comment %}
        <div class="col-md-12 article-image-padding">
            {% if object.main_image %}
            {% thumbnail object.main_image "360x200" crop="center" seoname=object|addstr:"" as im %}
            <img class="border img-responsive " src="{{im.url}}" class="img-responsive"/>
            {% endthumbnail %}
            {% endif %}
        </div>
        {% endcomment %}
    </div>
</div>
{% include 'corecms/site/tags.html' with size="md" label=False margin_top="10px" tags=object.tags.all %}
<div class="content-styles">{{ object.content|safe }}</div>

