{% load thumbnail %}
{% load staticfiles %}
{% load corecms_tags %}

<div class="row article_list">
    <div class="col-md-3">
        {% if article.content %}<a href="{{ article.get_absolute_url }}">{% endif %}
        <div class="img-wrapper">
        {% if article.thumbnail %}

        {% thumbnail article.thumbnail "250x250" seoname=article|addstr:"" as im %}
            <img src="{{ im.url }}" class="img-responsive" alt="{{ article }}">
        {% endthumbnail %}
        {% else %}
            <img src="{% static 'website/images/blue_orb.svg' %}" style="height:189px; width: 100%; opacity:0.5" class="img-responsive" alt="{{ article }}">
        {% endif %}
        </div>
        {% if article.content %}</a>{% endif %}
    </div>
    <div class="col-md-7">
        <p class="date">{{ article.article_date }}</p>
        <h2>{% if article.content %}<a href="{{ article.get_absolute_url }}">{% endif %}{{ article.identity }}{% if article.content %}</a>{% endif %}</h2>
        <div class="content-styles">
            {{ article.shortcut|safe }}
        </div>
        {% include 'corecms/site/tags.html' with size="sm" label=False tags=article.tags.all %}

    </div>
    {% if article.content %}
    <div class="col-md-2"><a href="{{ article.get_absolute_url }}" class="btn btn-blue pull-right full">więcej</a></div>
    {% endif %}

</div>
<hr>