{% load thumbnail %}
{% load staticfiles %}
{% load corecms_tags %}


<div class="row article_list">
    <div class="article-wrapper">
        {% if category.slug == 'opinie' or category.slug == 'sprawozdania' %}
        {% else %}
        <div class="col-xs-12 col-sm-4 article-image">
            {% if article.content %}<a href="{{ article.get_absolute_url }}">{% endif %}
            <div class="img-wrapper">

                {% if article.thumbnail %}

                {% thumbnail article.thumbnail "1920x1920" seoname=article|addstr:"" as im_large %}
                    {% thumbnail article.thumbnail "360x200" crop="center" seoname=article|addstr:"" as im %}
                    {% if category.slug == 'w-mediach' %}
                        <a href="{{ im_large.url }}" data-lightbox="roadtrip">
                            <img src="{{ im.url }}" class="img-responsive" alt="{{ article }}">
                        </a>
                    {% else %}
                        <img src="{{ im.url }}" class="img-responsive" alt="{{ article }}">
                    {% endif %}
                    {% endthumbnail %}
                {% endthumbnail %}
                {% else %}
                <img src="{% static 'website/images/blue_orb.svg' %}" style=" width: 100%; opacity:0.5" class="img-responsive" alt="{{ article }}">
                {% endif %}
            </div>
            {% if article.content %}</a>{% endif %}
        </div>
        {% endif %}
        <div class="col-xs-12 {% if category.slug == 'opinie' or category.slug == 'sprawozdania' %}col-sm-12{% else %}col-sm-8{% endif %} article-content">

            <h2 class="article-list-title">{% if article.content %}<a href="{{ article.get_absolute_url }}">{% endif %}{{ article.identity }}{% if article.content %}</a>{% endif %}</h2>
            <p class="date article-list-date">{{ article.article_date|date:"d.m.Y" }}</p>
            <div class="content-styles article-list-content">
                {{ article.shortcut|safe }}

                {% if category.slug == 'w-mediach' %}
                    {% include 'corecms/site/_files_article_list.html' with object=article %}
                {% endif %}

            </div>
            {% include 'corecms/site/tags.html' with size="sm" label=False tags=article.tags.all %}


        </div>
        <div class="col-xs-12">
            {% if article.content or article.published_files|length %}
            <div class=""><a href="{{ article.get_absolute_url }}" class="btn btn-blue pull-right full article-list-more">więcej <i class="fa fa-caret-right more-arrow" aria-hidden="true"></i></a></div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-12"><hr class="article-list-hr"></div>

    </div>

</div>
