{% load thumbnail %}
<div class="row">
    {% for file in gallery.images.all %}
        {% thumbnail file.path "200x130" crop="center" as im %}
            {% thumbnail file.path "1000x750" as im_big %}
                <div class="col-sm-3 col-xs-6 img_col">
                    <a href="{{ im_big.url }}" data-lightbox="{{ object }}" data-title="{{ object }}">
                        <img src="{{ im.url }}" class="img-responsive" alt="{{ file.name }}, {{ object }}">
                    </a>
                </div>
            {% endthumbnail %}
        {% endthumbnail %}
    {% endfor %}
</div>