{% load i18n %}
<!-- HEADER SLIDER -->
<div class="">
    <div class="container-fluid">
        <div class="row single-item">
            {% for block in blocks %}
            {% if block != None %}
            {% if block.full_height %}
            <div class="col-sm-12 home-image">
                <div class="info-wrapper flex-center">
                    <div class="center-info">
                        {{ block.content|default:""|safe }}
                        {% if block.url %}
                        <a class="orange-button" href="{{ block.url }}">{% if block.more_button_text %}{{
                            block.more_button_text }}{% else %}{% trans 'zobacz' %}{% endif %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-sm-{{ block.box_size }} sc-block{% if block.without_margins %} no-margins-block{% endif %}"
                 style="{% if block.background %}background-image: url({{ block.background.url }});{% endif %}background-color:{{ block.background_color }};">
                {{ block.content|default:""|safe }}
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>

<!-- HEADER SLIDER END -->