{% load thumbnail %}
{% if homepage_projekty %}
Projekty

{% if homepage_projekty_list|length > 0 %}
<div class="container">
    <div class="row">
    {% for site in homepage_projekty_list %}
        <div class="col-sm-3">
            <div class="wood-frame-wrapper">
            {% thumbnail site.thumbnail "100x100" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ site }}" title="{{ site }}">
            {% endthumbnail %}
            <a href="{{ site.get_absolute_url }}">{{ site }}</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}
{% endif %}