{% load thumbnail %}
{% if homepage_gallery %}
<div class="gallery-wrapper">
    <div class="container title">
        <span class="title-text">Galeria</span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 gallery-container">

        {% for file in homepage_gallery.children.images.all %}
            {% thumbnail file.path "200x130" crop="center" seoname=file.title as im %}
                {% thumbnail file.path "1000x750" seoname=file.title as im_big %}
                    <a href="{{ im_big.url }}" data-lightbox="galeria" data-title="{{ file.title }}">
                        <img src="{{ im.url }}" class="img-responsive" alt="{{ file.title }}" title="{{ file.title }}">
                    </a>
                {% endthumbnail %}
            {% endthumbnail %}
        {% endfor %}


            </div>
        </div>
    </div>
</div>
<script>
$(function(){

    $('.gallery-container').slick({
  dots: true,
  infinite: false,
  speed: 300,
arrows: false,
  slidesToShow: 5,
  slidesToScroll: 5,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 5,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 992,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        dots: false
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        dots: false
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: false,
        centerMode: true
      }
    }
  ]
    });

});
</script>
{% endif %}