<div class="container-fluid newsletter-bg">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 text-right">
                <p class="newsletter-header">Chcesz być na bieżąco ?</p>
                <p class="newsletter-body">Zapisz się do naszego Newslettera</p>
            </div>

            <div class="col-xs-12 col-sm-6 email-form-width">
                <div class="input-group email-form ">
                    <form class="form-inline" id="newsletter-sign-in" action="{% url 'website:website.newsletter.sign' %}" method="post">

                        <div class="input-group">
                            <input type="text" name="email" value="" class="form-control" placeholder="wpisz swój adres e-mail">
                            {% csrf_token %}
                            <span class="input-group-btn">
                                <button class="btn btn-default button-email" type="submit"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


