{% load thumbnail %}{% load corecms_tags %}
{% if homepage_publikacje %}


{% if homepage_publikacje_list|length > 0 %}
<div class="publications-wrapper">
    <div class="container title">
        <h1 class="title-text">Publikacje</h1>
    </div>
<div class="container">


    <div class="row publications-slick">
        {% for article, file in homepage_publikacje_list %}

                <div class="col-md-3">
                    <div class="text-center publication-title"><strong>{{ article|truncatewords:4 }}</strong></div>
                    <div class="text-center">
                        {% if article.thumbnail %}
                            {% thumbnail article.thumbnail "175x240" seoname=article|addstr:"" as im %}
                                <img src="{{ im.url }}" class="img-responsive publication-image">
                            {% endthumbnail %}
                        {% else %}
                            {% take_page_of_pdf file.absolute_path 0 as page %}
                            {% thumbnail page "175x240" seoname=article|addstr:"" as im %}
                                <img src="{{ im.url }}" class="img-responsive publication-image">
                            {% endthumbnail %}
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <a href="{{ file.url }}" class="download-btn" download="{{ file.download_name }}"><span class="fa fa-file-pdf-o"></span> Pobierz</a>
                    </div>
                </div>

        {% endfor %}
    </div>

</div>
    <div class="container more">
        <a class="more-text" href="{{ homepage_publikacje.get_absolute_url }}">Więcej</a>
    </div>
</div>

<script>
$(function(){

    $('.publications-slick').slick({
  dots: true,
  infinite: false,
  speed: 300,
  arrows: true,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
          arrows: false,
          slidesToShow: 4,
          slidesToScroll: 4,
          infinite: true,
          dots: true
      }
    },
    {
      breakpoint: 767,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
    });

});
</script>

{% endif %}
{% endif %}