{% load corecms_tags %}{% load staticfiles %}{% load thumbnail %}

<div class="projects-wrapper">
    <div class="container title">
        <h1 class="title-text">Współpraca</h1>
    </div>

    <div class="container">
        <div class="row ">
            {% for slider in partnership_slider_list %}

            <div class="col-xs-12 col-sm-6 col-md-2 dot-four">
                <div class="partner-1 text-center">


                    {{ slider }}
                    {% for slide in slider.items.all %}
                    <div class="partenr text-center">
                        {% thumbnail slide.image "120x120" seoname=slide.name as im %}
                         <div class="wspolpraca-zdj">
                        {% if slide.url %}<a href="{{ slide.url }}" title="{{ slide.name }}" target="_blank">{% endif %}

                            <img src="{{ im.url }}" alt="{{ slide.name }}" title="{{ slide.name }}" class="item">

                        {% if slide.url %}</a>{% endif %}
                        </div>
                        {% endthumbnail %}
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="clearfix hidden-lg hidden-md hidden-xs"></div>
    </div>


    <div class="container more">
        <a class="more-text more-wspolpraca" href="{{ homepage_partnership.get_absolute_url }}">Więcej</a>
    </div>
</div>