{% load thumbnail %}{% load corecms_tags %}
{% if homepage_publikacje %}


{% if homepage_publikacje_list|length > 0 %}
<div class="container">

    Publikacje

    <div class="row ">
        {% for article, file in homepage_publikacje_list %}
            {% if file.distinction.cover %}
                <div class="col-md-3">
                    {{ article }}<br>
                    {% take_page_of_pdf file.absolute_path 0 as page %}
                    {% thumbnail page "175x240" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                    <br><a href="{{ file.url }}" download="{{ file.download_name }}">Pobierz</a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="container more">
        <a class="more-text" href="{{ homepage_publikacje.get_absolute_url }}">Więcej</a>
    </div>
</div>
{% endif %}



{% endif %}