{% load thumbnail %}
<div class="articles">
    <div class="article-bacground">

        {% if homepage_aktualnosci %}
        <div class="container title aktualnosci">
            <span class="title-text">Aktualności</span>
        </div>

        {% if homepage_aktualnosci_list|length > 0 %}
        <ul class="article-li">
            <div class="container">
                <div class="row">
                    {% for article in homepage_aktualnosci_list %}
                    <div class="col-xs-12 col-sm-4">
                        <li class="article-style-li">
                            {% thumbnail article.thumbnail "360x200" seoname=article.identity|truncatewords:4 crop="center" as im %}
                            <img class="default img-responsive{% if forloop.counter == 2 %} hidden-sm hidden-md hidden-lg{% endif %}" src="{{ im.url }}" alt="{{ site }}" title="{{ site }}">
                            <div class="article-title-2 compared-text-part srodkowanie-pionowe-tabela">
                                <div class="srodkowanie-pionowe-komorka">
                                    <a class="article-title" href="{{ article.get_absolute_url }}"><h2>{{ article }}</h2></a>
                                </div>
                            </div>
                            <div class="compared-text-part2">{{ article.shortcut|striptags|truncatechars:240|safe }}</div>
                            {% if forloop.counter == 2 %}
                            <img class="default img-responsive hidden-xs" src="{{ im.url }}" alt="{{ site }}" title="{{ site }}">
                            {% endif %}
                            {% endthumbnail %}
                        </li>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </ul>
        {% endif %}
        {% endif %}

         <div class="container more">
            <a class="more-text aktualnosci" href="{{ homepage_aktualnosci.get_absolute_url }}">Starsze</a>
        </div>


    </div>
</div>