{% load thumbnail %}
{% if homepage_gallery %}
    Galeria
    {% for file in homepage_gallery.children.images.all %}
        {% thumbnail file.path "200x130" crop="center" as im %}
            {% thumbnail file.path "1000x750" as im_big %}
                <a href="{{ im_big.url }}" data-lightbox="" data-title="">
                    <img src="{{ im.url }}" class="img-responsive" alt="{{ file.name }}, {{ object }}">
                </a>
            {% endthumbnail %}
        {% endthumbnail %}
    {% endfor %}
{% endif %}
