{% load thumbnail %}
{% if homepage_aktualnosci %}
Aktualnosci

{% if homepage_aktualnosci_list|length > 0 %}
    <ul>
    {% for article in homepage_aktualnosci_list %}
        <li>
            {% thumbnail article.thumbnail "100x100" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ site }}" title="{{ site }}">
            {% endthumbnail %}
            <a href="{{ article.get_absolute_url }}">{{ article }}</a><br>
            {{ article.shortcut|safe }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endif %}