{% extends 'website/site/base/layout.html' %}

{% block body_content %}

    {% include "website/site/element/_homepage_top_slider.html" %}

    {% include "website/site/element/_homepage_onas.html" %}

    {% include "website/site/element/_homepage_projekty.html" %}

    {% include "website/site/element/_homepage_aktualnosci.html" %}

    {% include "website/site/element/_homepage_newsletter.html" %}

    {% include "website/site/element/_homepage_publikacje.html" %}

    {% include "website/site/element/_homepage_partnership.html" %}

    {% include "website/site/element/_homepage_achievements.html" %}

    {% include "website/site/element/_homepage_gallery.html" %}

{% endblock %}