{% load thumbnail %}
{% load templatetags %}

{% get_top_wrapper category_project category article as image_wrapper %}

{% if category_project %}
<div class="top-wrapper top-{{category.slug}}"{% if image_wrapper %}{% thumbnail image_wrapper "x300" as im %}style="background-image: url('{{ im.url }}')"{% endthumbnail %}{% endif %}>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-6 text-right">
                 <a href="{{ category_project.get_absolute_url }}" class="">
                <h1 class="project-title-green">{{ category_project }}</h1>
                 </a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="top-wrapper top-{{category.slug}}"{% if image_wrapper %}{% thumbnail image_wrapper "x300" as im %}style="background-image: url('{{ im.url }}')"{% endthumbnail %}{% endif %}>

</div>
{% endif %}