{% load mptt_tags %}


{% if menu_nodes %}
    <div class="left-menu text-center" style="padding-bottom:10px;">
        {% if menu_nodes %}
            {% for node, structure in menu_nodes|tree_info %}
                {% if node.level > submenu_root.level %}
                    {% if structure.new_level %}
                        <ul>
                        <li class="{% if node.get_absolute_url in request.breadcrumbs.urls %}active{% endif %}">{% else %}</li>
                        <li class="{% if node.get_absolute_url in request.breadcrumbs.urls %}active{% endif %}">{% endif %}
                {% ifequal node genre %}
                    <strong>{{ node }}</strong>
                {% else %}
                    <a href="{{ node.get_absolute_url }}" class="{% if node.get_absolute_url in request.breadcrumbs.urls %}active{% endif %}">{{ node|capfirst }}</a>
                {% endifequal %}
                {% for level in structure.closed_levels %}</li></ul>{% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
{% endif %}