.text-justify {
  text-align: justify;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

body {
  background-color: #c4c4c4;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

.nav-height-top {
  padding-bottom: 20px;
}

.nav-height-bottom {
  padding-top: 25px;
}

.nav-content-bottom li a {
  padding-top: 0;
  padding-bottom: 0px;
}

.nav-content-top li a {
  padding-top: 30px;
  padding-bottom: 0;
}

.navbar-default {
  border-radius: 0;
  border: none;
  background-color: #ffffff;
}

.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #c4c4c4;
}
.btn-circle i {
  color: #ffffff;
}

a.btn.btn-default.btn-circle {
  padding: 6px 0;
  border: none;
}

.circle_btn_padding {
  padding-top: 25px;
  padding-right: 15px;
}

.circle_btn_padding {
  padding-top: 25px;
  padding-right: 15px;
}

.nav.navbar-nav.navbar-right.nav-content-top li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #303030;
}
.nav.navbar-nav.navbar-right.nav-content-top li a i {
  color: #0c824b;
}

.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #c4c4c4;
}

.circle_btn_padding .btn.btn-default.btn-circle i {
  color: #ffffff !important;
}

.nav.navbar-nav.navbar-right.nav-content-bottom li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}

div.container.nav-height-top {
  padding-right: 0;
}

div.container.nav-height-bottom {
  padding-bottom: 20px;
}

.fa-envelope:before {
  font-size: 20px;
}

.fa-phone:before {
  font-size: 20px;
}

span.menu-top {
  position: relative;
  top: -2px;
  padding-left: 10px;
}

.nav.nav-content-bottom > li > a {
  display: inline-block;
  overflow-x: hidden;
  position: relative;
  transition: .25s ease all;
  text-decoration: none;
  padding-bottom: 5px;
}

.nav.nav-content-bottom > li > a::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background: #0c824b;
  transition: .5s ease all;
}

.nav.nav-content-bottom > li > a:hover:after {
  left: 0;
}
