.wood-frame-wrapper {
  background: url(../images/deska.png) center center no-repeat;
  position: relative;
  -webkit-box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 3px 2px 0 rgba(0, 0, 0, 0.4);
  margin-bottom: 30px;
}
.wood-frame-wrapper a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
.wood-frame-wrapper .gwozdz {
  position: absolute;
  left: 50%;
  top: 2px;
  width: 18px;
  height: 24px;
  display: block;
  margin-left: -9px;
  background: url(../images/gwozdz.png) center center no-repeat;
}
.wood-frame-wrapper .inner-shadow {
  display: block;
  position: relative;
}
.wood-frame-wrapper .inner-shadow .shadow {
  display: block;
  -webkit-box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.projects-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,e4e4e4+10,e4e4e4+10 */
  background: #cecece;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cecece 0%, #e4e4e4 10%, #e4e4e4 10%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#e4e4e4',GradientType=0 );
  /* IE6-9 */
  padding: 0px 0px 35px 0px;
}
.projects-wrapper .container.title {
  margin-bottom: 30px;
  text-transform: uppercase;
}
.projects-wrapper button.more-text {
  margin-top: 10px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.text-justify {
  text-align: justify;
}

.center-justified {
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}

nav.navbar.navbar-default {
  margin-bottom: 0;
}

.nav-height-bottom {
  padding-top: 25px;
}

.nav-content-bottom li a {
  padding-top: 0;
  padding-bottom: 0px;
}

.nav-content-top li a {
  padding-top: 5px;
  padding-bottom: 0;
}

.navbar-default {
  border-radius: 0;
  border: none;
  background-color: #ffffff;
}

.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #c4c4c4;
}
.btn-circle i {
  color: #ffffff;
}

a.btn.btn-default.btn-circle {
  padding: 6px 0;
  border: none;
}

.circle_btn_padding {
  padding-top: 0px;
  padding-right: 15px;
}

.nav.navbar-nav.navbar-right.nav-content-top li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #303030;
}
.nav.navbar-nav.navbar-right.nav-content-top li a i {
  color: #0c824b;
}

.btn-circle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #c4c4c4;
}

.circle_btn_padding .btn.btn-default.btn-circle i {
  color: #ffffff !important;
}

.nav.navbar-nav.navbar-right.nav-content-bottom li a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #303030;
}

div.container.nav-height-top {
  padding-right: 0;
}

div.container.nav-height-bottom {
  padding-bottom: 20px;
}

.fa-envelope:before {
  font-size: 20px;
}

.fa-phone:before {
  font-size: 20px;
}

span.menu-top {
  position: relative;
  top: -2px;
  padding-left: 10px;
}

a.btn.btn-default.btn-circle {
  background-color: #c4c4c4;
  transition: background-color .5s ease;
}

a.btn.btn-default.btn-circle:hover {
  background-color: #0c824b;
}

.nav.nav-content-bottom > li > a {
  display: inline-block;
  overflow-x: hidden;
  position: relative;
  transition: .25s ease all;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 10px;
}

.nav.nav-content-bottom > li > a::after {
  content: " ";
  position: absolute;
  display: block;
  bottom: 0;
  left: -100%;
  height: 2px;
  width: 100%;
  background: #0c824b;
  transition: .5s ease all;
}

.nav.nav-content-bottom > li > a:hover:after {
  left: 0;
}

.nav.nav-content-bottom {
  padding-top: 40px;
}

div.container.nav-height-bottom {
  padding-top: 25px;
  padding-bottom: 15px;
}

#logo {
  padding-right: 0;
  padding-left: 0;
}

div.col-sm-12.nav-padding {
  padding-left: 0;
  padding-right: 0;
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}

.sc-block {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  bottom: 20px;
  color: #ffffff;
  border: 0;
  background: none;
  z-index: 1;
}

.slick-prev {
  top: 190px;
  left: 400px;
}

.slick-prev:before {
  content: "\f104";
  font: 70px/1 'FontAwesome';
}

.slick-next {
  top: 190px;
  right: 400px;
  text-align: right;
}

.slick-next:before {
  content: "\f105";
  font: 70px/1 'FontAwesome';
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #0c824b;
}

.slick-dots {
  top: 400px;
}

.slick-dots li button:before {
  color: #ffffff;
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  color: #0c824b;
  font-size: 16px;
}

.slide-1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: #ffffff;
  margin-top: 164px;
}
.slide-1 p {
  margin-bottom: 0;
}
.slide-1 p.proverb {
  font-size: 14px;
  margin-left: 330px;
}

div.row.single-item.slick-initialized.slick-slider.slick-dotted {
  margin-bottom: 0;
}

div.o-nas {
  background: url("../images/leafs.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
}

div.about {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #303030;
  margin-bottom: 150px;
}

.title {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.title > span {
  position: relative;
  display: inline-block;
}

.title > span:before,
.title > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: #0c824b;
}

.title > span:before {
  right: 100%;
  margin-right: 15px;
}

.title > span:after {
  left: 100%;
  margin-left: 15px;
}

span.title-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #374778;
}

span.title-text {
  margin-top: 30px;
}

div.container.tree {
  background: url("../images/eko_tree.png");
  height: 448px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-circle.btn-about {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border-width: 7px;
  border-color: #ef6c45;
  background-color: #ffffff;
}

div.container.tree {
  padding-left: 0;
  padding-right: 0;
}

.kontener-drzewa {
  position: relative;
  width: 900px;
  height: 500px;
  margin: 0 auto;
}

a.dzialalnosc-miedzynarodowa {
  position: absolute;
  top: 347px;
  left: 40px;
}

button.btn.btn-default.btn-circle.btn-about.btn-dzialalnosc-miedzynarodowa {
  position: absolute;
  top: 323px;
  left: 167px;
  padding-left: 10px;
  padding-top: 8px;
}

i.eko-dzialalnosc-miedzynarodowa {
  color: #ef6c45;
  font-size: 40px;
}

a.dzialalnosc-miedzynarodowa > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-dla-karpat {
  border-color: #6c8d47;
}

a.dla-karpat {
  position: absolute;
  top: 214px;
  left: 55px;
}

button.btn.btn-default.btn-circle.btn-about.btn-dla-karpat {
  position: absolute;
  top: 188px;
  left: 140px;
  padding-top: 9px;
  padding-left: 11px;
}

i.eko-dla-karpat {
  color: #6c8d47;
  font-size: 40px;
}

a.dla-karpat > span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-edukacja-ekologiczna {
  border-color: #3c81c2;
}

a.edukacja-ekologiczna {
  position: absolute;
  top: 57px;
  left: 85px;
}

button.btn.btn-default.btn-circle.btn-about.btn-edukacja-ekologiczna {
  position: absolute;
  top: 53px;
  left: 182px;
  padding-top: 6px;
  padding-left: 10px;
}

i.eko-edukacja-ekologiczna {
  color: #3c81c2;
  font-size: 40px;
}

a.edukacja-ekologiczna > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-partycypacja-spoleczna {
  border-color: #b27a3f;
}

a.partycypacja-spoleczna {
  position: absolute;
  top: -40px;
  left: 166px;
}

button.btn.btn-default.btn-circle.btn-about.btn-partycypacja-spoleczna {
  position: absolute;
  top: -37px;
  left: 279px;
  padding-top: 10px;
  padding-left: 12px;
}

i.eko-partycypacja-spoleczna {
  color: #b27a3f;
  font-size: 36px;
}

a.partycypacja-spoleczna > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-dziedzictwo-kulturowe {
  border-color: #896b5f;
}

a.dziedzictwo-kulturowe {
  position: absolute;
  top: -99px;
  right: 350px;
}

button.btn.btn-default.btn-circle.btn-about.btn-dziedzictwo-kulturowe {
  position: absolute;
  top: -70px;
  right: 413px;
  padding-top: 7px;
  padding-left: 11px;
}

i.eko-dziedzictwo-kulturowe {
  color: #896b5f;
  font-size: 38px;
}

a.dziedzictwo-kulturowe > span {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-samorzady-lokalne {
  border-color: #f2b756;
}

a.samorzady-lokalne {
  position: absolute;
  top: -40px;
  right: 166px;
}

button.btn.btn-default.btn-circle.btn-about.btn-samorzady-lokalne {
  position: absolute;
  top: -37px;
  right: 279px;
  padding-top: 6px;
  padding-left: 12px;
}

i.eko-samorzady-lokalne {
  color: #f2b756;
  font-size: 36px;
}

a.samorzady-lokalne > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-organizacje-pozarzadowe {
  border-color: #5d96a0;
}

a.organizacje-pozarzadowe {
  position: absolute;
  top: 57px;
  right: 62px;
}

button.btn.btn-default.btn-circle.btn-about.btn-organizacje-pozarzadowe {
  position: absolute;
  top: 55px;
  right: 183px;
  padding-top: 8px;
  padding-left: 11px;
}

i.eko-organizacje-pozarzadowe {
  color: #5d96a0;
  font-size: 40px;
}

a.organizacje-pozarzadowe > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-spolecznosc-lokalna {
  border-color: #6363aa;
}

a.spolecznosc-lokalna {
  position: absolute;
  top: 201px;
  right: 11px;
}

button.btn.btn-default.btn-circle.btn-about.btn-spolecznosc-lokalna {
  position: absolute;
  top: 188px;
  right: 140px;
  padding-top: 9px;
  padding-left: 14px;
}

i.eko-spolecznosc-lokalna {
  color: #6363aa;
  font-size: 36px;
}

a.spolecznosc-lokalna > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.btn-circle.btn-about.btn-swiat-nauki {
  border-color: #b5842b;
}

a.swiat-nauki {
  position: absolute;
  top: 347px;
  right: 84px;
}

button.btn.btn-default.btn-circle.btn-about.btn-swiat-nauki {
  position: absolute;
  top: 323px;
  right: 167px;
  padding-left: 10px;
  padding-top: 8px;
}

i.eko-swiat-nauki {
  color: #b5842b;
  font-size: 40px;
}

a.swiat-nauki > p {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
  font-size: 16px;
}

.kontener {
  position: relative;
  perspective: 800px;
}

#card {
  width: 74px;
  height: 74px;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 74px;
  height: 74px;
  backface-visibility: hidden;
}

#card .back {
  transform: rotateY(180deg);
}

#card:hover {
  transform: rotateY(180deg);
}

.more {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.more > a {
  position: relative;
  display: inline-block;
}

.more > a:before,
.more > a:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 2px;
  background: #c4c4c4;
}

.more > a:before {
  right: 100%;
  margin-right: 15px;
}

.more > a:after {
  left: 100%;
  margin-left: 15px;
}

a.more-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #303030;
  background-color: transparent;
  border: 2px solid #c4c4c4;
  border-radius: 25px;
  padding: 2px 15px 2px 15px;
  margin-top: 50px;
}

@media screen and (max-width: 1700px) {
  .slick-next {
    top: 190px;
    right: 250px;
  }

  .slick-prev {
    top: 190px;
    left: 250px;
  }
}
@media screen and (max-width: 1500px) {
  .slick-next {
    top: 190px;
    right: 200px;
  }

  .slick-prev {
    top: 190px;
    left: 200px;
  }
}
@media screen and (max-width: 1300px) {
  .slick-next {
    top: 190px;
    right: 100px;
  }

  .slick-prev {
    top: 190px;
    left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .sc-block {
    height: 450px;
  }
}
@media screen and (max-width: 1200px) {
  .sc-block {
    height: 400px;
  }

  .slick-next {
    top: 165px;
  }

  .slick-prev {
    top: 165px;
  }

  .slick-dots {
    top: 350px;
  }

  .slide-1 {
    margin-top: 139px;
  }
}
@media screen and (max-width: 992px) {
  .sc-block {
    height: 350px;
  }

  .slick-next {
    top: 140px;
  }

  .slick-prev {
    top: 140px;
  }

  .slick-dots {
    top: 300px;
  }

  .slide-1 {
    margin-top: 114px;
  }
}
@media screen and (max-width: 768px) {
  .sc-block {
    height: 300px;
  }

  .slick-next {
    top: 115px;
  }

  .slick-prev {
    top: 115px;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .slick-dots {
    top: 250px;
  }

  .slide-1 {
    font-size: 18px;
    margin-top: 104px;
  }
  .slide-1 p.proverb {
    font-size: 12px;
    margin-left: 240px;
  }
}
@media screen and (max-width: 480px) {
  .sc-block {
    height: 200px;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .slick-dots {
    top: 150px;
  }

  .slide-1 {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    margin-top: 63px;
  }
  .slide-1 p.proverb {
    font-size: 10px;
    margin-left: 180px;
  }
}
